/* Same for all */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body {
    background: url(craft.jpg) no-repeat center center/cover; 
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    margin-top: 20px;
    user-select: none;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo a {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    max-width: 100%;
    width: 450px;
    border-radius: 30px;
    /* padding: 20px; */
}

.madeBy a {
    text-decoration: none;
}

.madeBy {
    position: fixed;
    bottom: 0;
    margin-top: 10px;
    font-size: 12px;
    padding: 10px;
}

.accordion {
    width: 100%;
    max-width: 45%;
    /* height: 50%; */
    background-color: rgba(255, 255, 255, 0.8);
    /* rgba(72, 243, 255, 0.8); */
    padding: 20px;
    border-radius: 30px;
    text-align: center;
    margin-top: 20px;
    overflow-y: scroll;
    box-shadow: 0px 0px 10px 0px rgb(45, 153, 231);
    margin-bottom: 10px;
}

#accordion1 {
    margin-top: 30px;
}

#accordion2 {
    margin-bottom: 60px;
}

.accordion .accordion-title {
    /* margin-bottom: 30px; */
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.topInput {
    font-size: 14px;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 18px;
    padding-right: 18px;
}

.bottomInput {
    font-size: 12px;
    padding-left: 18px;
    padding-right: 18px;
    padding-bottom: 12px;
}

.accordion .content-container .calculator {
    /* padding: 5px 0px; */
    font-size: 18px;
    position: relative;
    text-decoration: underline;
    text-decoration-thickness: 0.5px;
    text-underline-offset: 0.2em;
    padding-top: 30px;
}

.accordion .content-container .calcText {
    padding-top: 5px;
    font-size: 15px;
    line-height: 1.5;
    width: 100%;
    padding-bottom: 15px;
}

/* Two types */

/* 1 */
#collapsible1 {
    display: none;
}

/* 2 */
#collapsible2 {
    display: none;
}

/* 1 */
.accordion .content-container .calcText #input {
    padding-top: 15px;
    line-height: 1.5;
    width: 100%;
    padding-bottom: 15px;
}

/* 2 */
.accordion .content-container .calcText #input2 {
    padding-top: 15px;
    line-height: 1.5;
    width: 100%;
    padding-bottom: 15px;
}

/* 1 */
.accordion .content-container .calcText #input #input-amount {
    box-shadow: 0px 0px 2px 0px rgb(45, 153, 231);
    border: 1px solid rgb(45, 153, 231);
    /* height: 3vw;
    width: 20vw; */
    height: 40px;
    width: 150px;
    /* font-size: 1.8vw; */
    text-align: center;
}

/* 2 */
.accordion .content-container .calcText #input2 #input-amount2 {
    box-shadow: 0px 0px 2px 0px rgb(45, 153, 231);
    border: 1px solid rgb(45, 153, 231);
    /* height: 3vw;
    width: 20vw; */
    height: 40px;
    width: 150px;
    /* font-size: 1.8vw; */
    text-align: center;
}

/* 1 */
.accordion .content-container .calcText #input #calculateBtn {
    box-shadow: 0px 0px 2px 0px rgb(45, 153, 231);;
    border: 1px solid rgb(45, 153, 231);
    background-color: rgb(129, 188, 231);
    /* height: 3vw;
    width: 10vw; */
    height: 40px;
    width: 80px;
    /* font-size: 1.8vw; */
    text-align: center;
}

/* 2 */
.accordion .content-container .calcText #input2 #calculateBtn2 {
    box-shadow: 0px 0px 2px 0px rgb(45, 153, 231);;
    border: 1px solid rgb(45, 153, 231);
    background-color: rgb(129, 188, 231);
    /* height: 3vw;
    width: 10vw; */
    height: 40px;
    width: 80px;
    /* font-size: 1.8vw; */
    text-align: center;
}

/* 1 */
.accordion .content-container .calcText #input #resetBtn {
    box-shadow: 0px 0px 2px 0px rgb(45, 153, 231);;
    border: 1px solid rgb(45, 153, 231);
    background-color: rgb(129, 188, 231);
    /* height: 3vw; */
    height: 40px;
    width: 58px;
    /* width: 6vw;
    font-size: 1.8vw; */
    text-align: center;
}

/* 2 */
.accordion .content-container .calcText #input2 #resetBtn2 {
    box-shadow: 0px 0px 2px 0px rgb(45, 153, 231);;
    border: 1px solid rgb(45, 153, 231);
    background-color: rgb(129, 188, 231);
    /* height: 3vw; */
    height: 40px;
    width: 58px;
    /* width: 6vw;
    font-size: 1.8vw; */
    text-align: center;
}

/* 1 */
.accordion .content-container .calcText #input #calculateBtn:hover {
    box-shadow: 0px 0px 6px 0px rgb(45, 153, 231);
    background-color: rgb(45, 153, 231);
    cursor: pointer;
}

/* 2 */
.accordion .content-container .calcText #input2 #calculateBtn2:hover {
    box-shadow: 0px 0px 6px 0px rgb(45, 153, 231);
    background-color: rgb(45, 153, 231);
    cursor: pointer;
}

/* 1 */
.accordion .content-container .calcText #input #resetBtn:hover {
    box-shadow: 0px 0px 6px 0px rgb(45, 153, 231);
    background-color: rgb(45, 153, 231);
    cursor: pointer;
}

/* 2 */
.accordion .content-container .calcText #input2 #resetBtn2:hover {
    box-shadow: 0px 0px 6px 0px rgb(45, 153, 231);
    background-color: rgb(45, 153, 231);
    cursor: pointer;
}

/* 1 */
#powderOutput {
    font-size: 18px;
    color: rgb(45, 153, 231);
}

/* 2 */
#powderOutput2 {
    font-size: 18px;
    color: rgb(45, 153, 231);
}


/* Same for all */

.accordion .content-container .question {
    padding: 10px 0px;
    font-size: 18px;
    cursor: pointer;
    position: relative;
    text-decoration: underline;
    text-decoration-thickness: 0.5px;
    text-underline-offset: 0.2em;
}

.accordion .content-container .question:hover {
    color: rgb(45, 153, 231);
}

.accordion .content-container .question::after {
    content: '+';
    position: absolute;
    /* right: -5px; */
}

.accordion .content-container .answer {
    padding-top: 8px;
    font-size: 14px;
    line-height: 1.5;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    /* transition: 0.5s; */
    padding-left: 18px;
    padding-right: 18px;
}


/* JS styling link */

.accordion .content-container.active .answer {
    max-height: 1000px;
    padding-bottom: 15px;
}

.accordion .content-container.active .question {
    color: rgb(45, 153, 231);
}

.accordion .content-container.active .question::after {
    content: '-';
} 

/* Media */

@media (max-width: 600px) {
    .accordion {
        max-width: 90%;
    }

    .logo img {
        width: 60%;
    }
 }