/* Same for all */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body {
    background: url(craft.jpg) no-repeat center center/cover; 
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    margin-top: 20px;
    user-select: none;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo a {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    max-width: 100%;
    width: 450px;
    border-radius: 30px;
    /* padding: 20px; */
}

.madeBy a {
    text-decoration: none;
}

.madeBy {
    position: fixed;
    bottom: 0;
    margin-top: 10px;
    font-size: 12px;
    padding: 10px;
}

.accordion {
    width: 100%;
    max-width: 65%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 30px;
    text-align: center;
    margin-top: 20px;
    box-shadow: 0px 0px 10px 0px rgb(45, 153, 231);
    margin-bottom: 10px;
    overflow: hidden;
}

.accordion.open {
    overflow-y: auto;
}

#accordion1 {
    margin-top: 30px;
}

#accordion2 {
    margin-bottom: 60px;
}

.accordion .accordion-title {
    text-align: center;
    cursor: pointer;
    user-select: none;
} 

.topInput {
    font-size: 18px;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 18px;
    padding-right: 18px;
}

.bottomInput {
    font-size: 18px;
    padding-left: 18px;
    padding-right: 18px;
    padding-bottom: 12px;
}

.accordion .content-container .calculator {
    font-size: 20px;
    position: relative;
    text-decoration: underline;
    text-decoration-thickness: 0.5px;
    text-underline-offset: 0.2em;
    padding-top: 30px;
}

.accordion .content-container .calcText {
    padding-top: 5px;
    line-height: 1.5;
    width: 100%;
    padding-bottom: 15px;
}

/* Two types */

/* 1 */
#collapsible1 {
    display: none;
}

/* 2 */
#collapsible2 {
    display: none;
}

/* 1 */
.accordion .content-container .calcText #input {
    padding-top: 15px;
    line-height: 1.5;
    width: 100%;
    padding-bottom: 15px;
}

/* 2 */
.accordion .content-container .calcText #input2 {
    padding-top: 15px;
    line-height: 1.5;
    width: 100%;
    padding-bottom: 15px;
}

/* 1 */
.accordion .content-container .calcText #input #input-amount {
    box-shadow: 0px 0px 2px 0px rgb(45, 153, 231);
    border: 1px solid rgb(45, 153, 231);
    height: 40px;
    width: 220px;
    text-align: center;
    font-size: 1.2vw;
}

/* 2 */
.accordion .content-container .calcText #input2 #input-amount2 {
    box-shadow: 0px 0px 2px 0px rgb(45, 153, 231);
    border: 1px solid rgb(45, 153, 231);
    height: 40px;
    width: 220px;
    text-align: center;
    font-size: 1.2vw;
}

/* 1 */
.accordion .content-container .calcText #input #calculateBtn {
    box-shadow: 0px 0px 2px 0px rgb(45, 153, 231);;
    border: 1px solid rgb(45, 153, 231);
    background-color: rgb(129, 188, 231);
    /* height: 3vw;
    width: 10vw; */
    height: 40px;
    width: 120px;
    font-size: 1.2vw;
    text-align: center;
}

/* 2 */
.accordion .content-container .calcText #input2 #calculateBtn2 {
    box-shadow: 0px 0px 2px 0px rgb(45, 153, 231);;
    border: 1px solid rgb(45, 153, 231);
    background-color: rgb(129, 188, 231);
    /* height: 3vw;
    width: 10vw; */
    height: 40px;
    width: 120px;
    font-size: 1.2vw;
    text-align: center;
}

/* 1 */
.accordion .content-container .calcText #input #resetBtn {
    box-shadow: 0px 0px 2px 0px rgb(45, 153, 231);;
    border: 1px solid rgb(45, 153, 231);
    background-color: rgb(129, 188, 231);
    /* height: 3vw; */
    height: 40px;
    width: 88px;
    /* width: 6vw;*/
    font-size: 1.2vw;
    text-align: center;
}

/* 2 */
.accordion .content-container .calcText #input2 #resetBtn2 {
    box-shadow: 0px 0px 2px 0px rgb(45, 153, 231);;
    border: 1px solid rgb(45, 153, 231);
    background-color: rgb(129, 188, 231);
    /* height: 3vw; */
    height: 40px;
    width: 88px;
    /* width: 6vw;*/
    font-size: 1.2vw;
    text-align: center;
}

/* 1 */
.accordion .content-container .calcText #input #calculateBtn:hover {
    box-shadow: 0px 0px 6px 0px rgb(45, 153, 231);
    background-color: rgb(45, 153, 231);
    cursor: pointer;
}

/* 2 */
.accordion .content-container .calcText #input2 #calculateBtn2:hover {
    box-shadow: 0px 0px 6px 0px rgb(45, 153, 231);
    background-color: rgb(45, 153, 231);
    cursor: pointer;
}

/* 1 */
.accordion .content-container .calcText #input #resetBtn:hover {
    box-shadow: 0px 0px 6px 0px rgb(45, 153, 231);
    background-color: rgb(45, 153, 231);
    cursor: pointer;
}

/* 2 */
.accordion .content-container .calcText #input2 #resetBtn2:hover {
    box-shadow: 0px 0px 6px 0px rgb(45, 153, 231);
    background-color: rgb(45, 153, 231);
    cursor: pointer;
}

/* 1 */
#powderOutput {
    font-size: 18px;
    color: rgb(45, 153, 231);
}

/* 2 */
#powderOutput2 {
    font-size: 18px;
    color: rgb(45, 153, 231);
}

/* Same for all */

.accordion .content-container .question {
    padding: 10px 0px;
    font-size: 22px;
    cursor: pointer;
    position: relative;
    text-decoration: underline;
    text-decoration-thickness: 0.5px;
    text-underline-offset: 0.2em;
}

.accordion .content-container .question:hover {
    color: rgb(45, 153, 231);
}

.accordion .content-container .question::after {
    content: '+';
    position: absolute;
    margin-left: 6px;
    /* right: -5px; */
}

.accordion .content-container .answer {
    padding-top: 8px;
    font-size: 18px;
    line-height: 1.5;
    font-weight: 900;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

/* Scroll Bar */

.accordion::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
}

.accordion::-webkit-scrollbar-track {
    background: #f1f1f1; /* Background of the track */
    border-radius: 10px;
    margin: 26px 0;
}

.accordion::-webkit-scrollbar-thumb {
    background-color: rgb(45, 153, 231); /* Color of the scrollbar thumb */
    border-radius: 10px;
    border: 3px solid #f1f1f1; /* Padding around the thumb */
}

/* JS styling link */

.accordion .content-container.active .answer {
    max-height: 1000px;
    padding-bottom: 15px;
}

.accordion .content-container.active .question {
    color: rgb(45, 153, 231);
}

.accordion .content-container.active .question::after {
    content: '-';
} 

/* Media */

@media (max-width: 600px) {
    .accordion {
        max-width: 90%;
    }

    .logo img {
        width: 60%;
    }

    .madeBy {
        display: none;
    }
    
    /* 1 */
    .accordion .content-container .calcText #input #input-amount {
        height: 40px;
        width: 150px;
        font-size: 3vw;
        margin-bottom: 10px;
    }

    /* 2 */
    .accordion .content-container .calcText #input2 #input-amount2 {
        height: 40px;
        width: 150px;
        font-size: 3vw;
        margin-bottom: 10px;
    }

    /* 1 */
    .accordion .content-container .calcText #input #calculateBtn {
        height: 40px;
        width: 70px;
        font-size: 3vw;
        margin-left: 4px;
        margin-right: 4px;
    }

    /* 2 */
    .accordion .content-container .calcText #input2 #calculateBtn2 {
        height: 40px;
        width: 70px;
        font-size: 3vw;
        margin-left: 4px;
        margin-right: 4px;
    }

    /* 1 */
    .accordion .content-container .calcText #input #resetBtn {
        height: 40px;
        width: 48px;
        font-size: 3vw;
        
    }

    /* 2 */
    .accordion .content-container .calcText #input2 #resetBtn2 {
        height: 40px;
        width: 48px;
        font-size: 3vw;
    }
 }